<div class="contaner card w-full mx-auto rounded-md shadow-md flex flex-row justify-between p-12 items-center h-52 mt-10 bg-black">
    <div class="avatar w-14">
        <img src="https://i.pravatar.cc/150?img=68" alt="avatar" class="rounded-full w-12 h-12">
    </div>
    <div class="content flex flex-col justify-center gx-10 item-start w-full h-full ml-5">
        <h6 class="text-pink-500 text-lg lg:text-lg font-bold">Mahmoud Gharib</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet deleniti animi expedita nesciunt?
            Ut nesciunt enim sequi fuga repudiandae ratione?</p>
            <div class="icons">
                <i class="fas fa-thumbs-up text-blue-500"></i>
                <i class="fas fa-thumbs-down text-red-500"></i>
                <i class="fas fa-comment text-green-500"></i>
            </div>
        </div>
</div>