<div class="container card  bg-[#141517] w-full mx-auto rounded-md shadow-md flex flex-row justify-between p-12 items-center h-52 mt-10">
    <div class="avatar w-24 h-24 rounded-full">
        <div class="w-24 rounded-full">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
    <div class="content flex flex-col justify-center gx-10 item-start w-full h-full ml-5">
        <h6 class="text-pink-500 text-lg lg:text-lg font-bold">Mahmoud Gharib</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet deleniti animi expedita nesciunt?
            Ut nesciunt enim sequi fuga repudiandae ratione?</p>
            <div class="icons">
                <i class="fas fa-thumbs-up text-blue-500"></i>
                <i class="fas fa-thumbs-down text-red-500"></i>
                <i class="fas fa-comment text-green-500"></i>
            </div>
        </div>
</div>