<div class="container mx-auto w-full flex flex-row justify-center lg:justify-between py-2 content">
    <div class="comments">
        <h3 class="text-pink-500 text-2xl lg:text-4xl font-bold">Comments</h3>
    </div>
    <div class="avatar rounded-full w-12 h-12 hidden lg:block">
        <img [src]="userAvatar" alt="avatar" class="rounded-full w-12 h-12">
    </div>
</div>
<div class="card bg-base-100 shadow-xl w-3/4 mx-auto lg:mx-0 lg:w-full p-0 lg:py-5 mt-5">
    <!--generate form with my text area-->
    <form [formGroup]="commentForm" class="form-control" (ngSubmit)="onSubmit()">
        <textarea formControlName="description" class="textarea textarea-warning w-full" placeholder="Write Comment here" cols="100" rows="10"></textarea>
    @if (!signedIn) {
        <button type="submit" class="btn btn-outline btn-warning p-2 mt-5">share</button>
    } @else {
        <button (click)="loginWithGoogle()" class=" btn btn-warning p-2 mt-5">Sign up</button>
    }    
    </form> 
</div>
<div class="container w-full mx-auto">
    <app-card [id]="itemId" [isAuthenticated]="isAuthenticated"></app-card>
</div>