<div class="container w-full mx-auto card">
    <img [src]="item?.social_image" [alt]="item?.title" [loading]="oneImageLoad()" class="w-full object-cover">
    <div class="content w-full mx-auto py-10" *ngIf="imageLoad">
        <h2 class="text-lg font-bold">{{item?.title}}</h2>
        <p class="py-2">
            {{item?.description}}.for more information visit <a [href]="item?.canonical_url" class="text-orange-300">here</a>
        </p>
    </div>
</div>
<div class="container w-full mx-auto">
    <app-comment></app-comment>
</div>